body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  h2 {
    text-align: center;
  }
  
  .form-container {
    max-width: 500px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  input[type="text"],
  select {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  
  input[type="submit"] {
    background-color: #467fbd;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
  }
  
  input[type="submit"]:hover {
    background-color: #1151db;
    
  }
  